USE [master]
GO
/****** Object:  Database [QLBanHang]    Script Date: 05/03/2021 3:23:45 CH ******/
CREATE DATABASE [QLBanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBanHang', FILENAME = N'C:\Users\CAOTANLOC\QLBanHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBanHang_log', FILENAME = N'C:\Users\CAOTANLOC\QLBanHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanHang]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05/03/2021 3:23:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 05/03/2021 3:23:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Count] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[MaSP] [int] NOT NULL,
	[IDHoaDon] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietHD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 05/03/2021 3:23:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TotalPrice] [float] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomSP]    Script Date: 05/03/2021 3:23:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomSP](
	[MaNhom] [int] NOT NULL,
	[TenNhom] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 05/03/2021 3:23:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](max) NOT NULL,
	[DonGia] [money] NULL,
	[MoTaSP] [nvarchar](150) NULL,
	[HinhAnh] [varchar](max) NULL,
	[NhomSP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHD] ON 

INSERT [dbo].[ChiTietHD] ([ID], [Count], [Price], [Total], [MaSP], [IDHoaDon]) VALUES (1, 1, 1500, 1500, 28, 1)
INSERT [dbo].[ChiTietHD] ([ID], [Count], [Price], [Total], [MaSP], [IDHoaDon]) VALUES (2, 1, 200, 200, 24, 2)
INSERT [dbo].[ChiTietHD] ([ID], [Count], [Price], [Total], [MaSP], [IDHoaDon]) VALUES (3, 1, 250, 250, 25, 3)
SET IDENTITY_INSERT [dbo].[ChiTietHD] OFF
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([ID], [TotalPrice]) VALUES (1, 1500)
INSERT [dbo].[HoaDon] ([ID], [TotalPrice]) VALUES (2, 200)
INSERT [dbo].[HoaDon] ([ID], [TotalPrice]) VALUES (3, 600)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
INSERT [dbo].[NhomSP] ([MaNhom], [TenNhom]) VALUES (1, N'Giày')
INSERT [dbo].[NhomSP] ([MaNhom], [TenNhom]) VALUES (2, N'Áo')
INSERT [dbo].[NhomSP] ([MaNhom], [TenNhom]) VALUES (3, N'Quần')
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonGia], [MoTaSP], [HinhAnh], [NhomSP]) VALUES (23, N'ADIDAS SUPERSTAR - BLACK', 150.0000, N'ADIDAS', N'ADIDAS SUPERSTAR - BLACK03102021.jpg', 1)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonGia], [MoTaSP], [HinhAnh], [NhomSP]) VALUES (24, N'ADIDAS SUPERSTAR - FULL BLACK', 200.0000, N'ADIDAS', N'ADIDAS SUPERSTAR - FULL BLACK03102021.jpg', 1)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonGia], [MoTaSP], [HinhAnh], [NhomSP]) VALUES (25, N'ADIDAS SUPERSTAR GOLD METALLIC', 250.0000, N'ADIDAS', N'ADIDAS SUPERSTAR GOLD METALLIC03102021.jpg', 1)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([NhomSP])
REFERENCES [dbo].[NhomSP] ([MaNhom])
GO
USE [master]
GO
